
h3 {
    font-weight: 500;
}

button {
    width: 200px;
    padding: 20px 0;
    background: rgb(59, 117, 224);
    color: wheat;
    font-size: 25px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: rgb(48, 106, 212);
    cursor: pointer;
}

button:active {
    background: rgb(39, 99, 212)
}