@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

.container {
    margin: 40px;
    font-family: "Roboto", sans-serif;
}

ul li {
    list-style-type: none;
}

input {
    padding: 15px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 5px;
}

input[type="submit"] {
    background: rgb(83, 221, 240);
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}