h1 {
    color: rgb(40, 40, 40);
}

ul {
  margin: 30px;
  padding: 0;
  width: 400px;
}

li {
  list-style-type: none;
  margin: 10px 0;
  font-size: 25px;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: rgb(36, 36, 36);
}

li:hover {
  border-left: 5px solid rgb(127, 77, 163);
  cursor: pointer;
}

div a {
  margin: 0 20px 0 -7px;
  text-decoration: none;
  color: rgb(40, 40, 40);
  font-size: 30px;
  padding: 7px;
  border-radius: 7px;
}

div a:hover {
  background: rgb(192, 235, 236);
}