<div class="nav">
  <div class="title">
      <img src="../../assets/images/angular.png" alt="" width="50px">
      <a routerLink='/'>Angular Documentation</a>
    </div>
  <div class="nav-item">
    <div><a routerLink='/form' routerLinkActive="active">Form</a></div>
    <div><a routerLink='/router' >Router</a></div>
    <div><a routerLink="/api">API</a></div>
    <div><a routerLink="/todo-template">Todo</a></div>
    <div><a routerLink="/image">Image</a></div>
    <div><a routerLink="/prime">Prime</a></div>
  </div>
</div>
