<div class="container">
  <h1>Get Started!!</h1>

  <h2>you should install angular CLI</h2>
  <div class="code-box">npm i @angular/cli</div>
  <br />
  <h2>generate angular project</h2>
  <div class="code-box">ng new your-project-name</div>
  <h2>generate new component</h2>
  <div class="code-box">ng generate component your-component-name</div>
  <h2>generate module</h2>
  <div class="code-box">ng generate module module-name</div>
  <h2>generate service</h2>
  <div class="code-box">ng generate service services/API</div>
  <h2>To run angular on the browser</h2>
  <div class="code-box">ng serve</div>
</div>
