<div class="container">
    <app-navbar-section class="navbar-container">
        <div>
            <a routerLink="/form" routerLinkActive="active">Home</a>
        </div>
        <div>
            <a routerLink="/formgroup">FormGroup</a>
        </div>
    </app-navbar-section>
    <div class="code-container">
        <h2>To use form group in angular. you should import this</h2>
        <div class="code-box">
            import {{ "{" }} FormGroup, FormControl {{ "}" }} from '@angular/forms'
        </div>
    </div>
    <div>
        <form [formGroup]="profileForm">
            <div class="form-control">
                <app-input-form-group [isEmpty]="isEmailEmpty" [control]="profileForm.controls.email"
                    label="Email"></app-input-form-group>
            </div>
            <div class="form-control">
                <app-input-form-group [isEmpty]="isUsernameEmpty" [control]="profileForm.controls.username"
                    label="Username">
                </app-input-form-group>
            </div>
            <div class="form-control">
                <app-input-form-group [isEmpty]="isPasswordEmpty" [control]="profileForm.controls.password"
                    label="Password"></app-input-form-group>
            </div>
        </form>
        <button (click)="onSubmit()">Submit</button>
    </div>
</div>